$Policesite: 'Lato', sans-serif;

$couleurprimaireattenue : #fd2b010f;
$couleursecondaire : #FFD7D7;
$couleurtertiaire : #4E5166;

$couleurboutonheader : black;
$couleurboutonfooter : white;
$couleurboutonhover : blue;

$couleurvalide : green;
$couleurerreur : red;
